
{% extends "motherboard.html" %}



{% block body_block %}
{% load static %}


      <div class="d-flex flex-row">
        <div class="p-2">


          
        </div>


        <div class="p-2" >
          <div class="card" style="width: 18rem;">
              <h2>Bucket</h2>
              
              <div id="createItem" >
                <form id= "createItemForm" method="post" action="{% url 'BucketApp:createItem' %}">
                  {%csrf_token%}
                  <textarea name="title" id="item"  placeholder="createItem" autofocus style="background-color:rgb(110, 241, 92)"></textarea>
                </form>
              </div>

              <ul class="list-group list-group-flush">
                {% for item in allItems %}
                  <li class="list-group-item">
                    <div class="item" draggable="true" id='{{item.0}}'>{{item.1}}</div>
                  </li>
                {% endfor %}
              </ul>
          </div>
        </div>

        <div class="p-2 " >

          

          <div class="card" style="width: 100rem;">
            <div class="card-body">
              <h5 class="card-title">Categories</h5>
              <h6 class="card-subtitle mb-2 text-muted">Drag items from the bucket or fom other Categories</h6>

              <div id="createCategory" >
                <form id= "createCategoryForm" method="post" action="{% url 'BucketApp:createCategory' %}">
                  {%csrf_token%}
                  <textarea name="topic" id="createCategoryText" placeholder="create Category" autofocus style="background-color:rgb(191, 191, 241)"></textarea>
                </form>
              </div>

              <div id="buckets" >
                {% for cat in allCats %}
                  
                    <div class="card" style="width: 18rem;">
                      <div class="card-body" style="background-color:rgb(209, 143, 235);">
                        <h2 class="card-title">{{cat.1}} </h2>
                        <ul class="list-group list-group-flush" style=" width: 15rem; border: solid red 1px; border-radius:5px; background-color:rgb(195, 235, 235);">
                          <div  id= {{cat.0}}  class="category"  name= '{{cat.id }}' >
                            {% for item in cat.2 %}
                              {% for item2 in allItems %}
                                {% if item == item2.1 %}
                                <li class="list-group-item" >
                                  <div class="item" draggable="true" id='{{item2.0}}'>{{item2.1}} </div>
                                </li>
                                {% endif  %}
                              {% endfor %}
                            {% endfor %}
                          </div>
                        </ul>
                      </div>
                    </div>
                  
                {% endfor %}
              </div>
            </div>
          </div>
        </div>

        <div class="p-2">
          <div id="trash" > Delete item: Drag items in here to delete them</div>
        </div>



     
   

      

      </div>
    </div>
      {% endblock %}