body {
  background: rgb(255, 255, 255);
}

*{
margin:10px;
border-radius: 10px;
/* align-items: center; */
justify-content: center;
}

/* div[id*="category"]{
  display: inline-block;
  position:top;
} */
.category{

  min-width: 150px;
  border: solid 3px salmon;
  background: rgb(255, 238, 5);
  height:auto;
  overflow:visible;
  min-height:100px;
  

}
.card{
  display: inline-block;
}

#trash {
  background-color: rgba(148, 148, 148, 0.986);
  width:300px;
  height:300px;
}

.list-group-item{
  width: 10rem; border: solid rgb(0, 17, 255) 3px; border-radius:5px; background-color:rgb(143, 235, 235);
}
