
<h1>update Bubble</h1>

<form method="post" action="{% url 'D3App:changeBubble' %}">
    {%csrf_token%}
    <input type="text" name="topic" value={{topic}}>
    <br>
    <input type="text" name="child" placeholder="create Children">
    <input type="text" name="outOfTheHouse" placeholder="outOfTheHouse ">
    <br>
    <input type="text" name="relate" placeholder="relate to ">
    <input type="text" name="decouple" placeholder="decouple ">
    <input type="hidden" name="id" value={{id}} placeholder={{id}}>
    <br>
    <input type="submit" value='SUBMIT'>
</form>